{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Payslip Sender{% endblock %}

{% block page_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function updateButtonClicked(){
        // readonly = flase
        document.getElementById("smtpServer").readOnly = false;
        document.getElementById("port").readOnly = false;
        document.getElementById("id").readOnly = false;
        document.getElementById("password").readOnly = false;
        document.getElementById("emailContent").readOnly = false;
    } 　
    function saveButtonClicked(){
        var smtpServer = document.getElementById("smtpServer").value;
        var port = document.getElementById("port").value;
        var id = document.getElementById("id").value;
        var password = document.getElementById("password").value;
        var emailContent = document.getElementById("emailContent").value;
        var json = JSON.stringify({
            smtpServer: smtpServer,
            port: port,
            id: id,
            password: password,
            emailContent: emailContent
        });
        $.ajax({
            url: "/setting",
            type: "POST",
            async: true, 
            dataType:"json",
            data: json,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert(data)
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
        // readonly = true
        document.getElementById("smtpServer").readOnly = true;
        document.getElementById("port").readOnly = true;
        document.getElementById("id").readOnly = true;
        document.getElementById("password").readOnly = true;
        document.getElementById("emailContent").readOnly = true;
    }
</script>
<div class="page-header">
    <h1>設定</h1>
</div>
<div class="col-md-4">
    <form>
        <div class="form-group">
            <label for="smtpServer">SMTP Server</label>
            <input type="text" value = "{{ server }}" class="form-control" id="smtpServer" readonly>
        </div>
        <div class="form-group">
            <label for="port">埠號</label>
            <input type="text" value = "{{ port }}" class="form-control" id="port" readonly>
        </div>
        <div class="form-group">
            <label for="password">帳號 （寄件者）</label>
            <input type="text" value = "{{ id }}" class="form-control" id="id" readonly>
        </div>
        <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" value = "{{ password }}" class="form-control" id="password" readonly>
        </div>
        <div class="form-group">
          <label for="emailContent">郵件內容</label>
        </div>
        <div class="form-group">
          <textarea id="emailContent" rows="10" cols = "60" readonly>{{emailContent}}</textarea>
        </div>
        <button type="button" class="btn btn-primary" onclick = "updateButtonClicked()">修改</button>
        <button type="button" class="btn btn-primary" onclick = "saveButtonClicked()">儲存</button>
    </form>
</div>
{% endblock %}
